

@*<dt>
    Current Preferred Restaurant:
</dt>

<dd>
    @Html.Partial("_GroupRestaurant")
</dd>*@





<script src="https://code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">

            var mapurl = "https://maps.googleapis.com/maps/api/geocode/json?address=Nashville,+TN";

            $.ajax({
                url: mapurl,
                type: 'GET',
                dataType: 'json', // perhaps jsonp
                success: function (json) {
                    alert("Success");

                    document.getElementById("lat").textContent = json.results[00]["geometry"]["bounds"]["northeast"].lat;
                    document.getElementById("lat").textContent = json.results[00]["geometry"]["location"].lng;
                },
                error: function (xhr, status, err) {
                    alert("ajax error: " + err.toString());
                }
            });


</script>
    <div>
        <p id="lat">
            not found
        </p>
        <p id="long">
            not found
        </p>
    </div>

    <div>
        hi
        whats up
        this is where the group resturant answer is
        <p id="favorite">



        </p>




    </div>
