@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Food for Us</h1>
    <p class="lead">Food for Us perfect to find the best restaurant for your group.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-mid-6">
        Script below: 
        <script src="https://code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>
        <script type="text/javascript">

            var mapurl = "https://maps.googleapis.com/maps/api/geocode/json?address=Nashville,+TN";

            $.ajax({
                url: mapurl,
                type: 'GET',
                dataType: 'json', // perhaps jsonp
                success: function (json) {
                    // do stuff with json (in this case an array)
                    alert("Success");
                    //document.getElementById("uncool").textContent =  json.results['geometry']['bounds']['northeast'].lat;



                    document.getElementById("uncool").textContent = json.results[00]["geometry"]["bounds"]["northeast"].lat;

                },
                error: function (xhr, status, err) {
                    alert("ajax error: " + err.toString());
                }
            });

   
        </script>
        <p id="uncool">
            not changed
        </p>

        <p id="cool">
            what
        </p>
        <button type="button" onclick="loadDoc()">Change Content</button>


        @*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js">

            var uri = "https://maps.googleapis.com/maps/api/geocode/xml?address=";

            uri+="Nashville,+TN";


            $(document).ready(function() {
            // Send an AJAX request
            $.getJSON(apiUrl)
            .done(function(data) {
            // On success, 'data' contains a list of products.
            $.each(data, function(key, item) {
            // Add a list item for the product.
            $('
            <li>
                ', { text: formatItem(item) }).appendTo($('#products'));
                });
                });
                });
            function formatItem(item) {
            return item.Name + ': $' + item.Price;
            }

            function find() {
            var id = $('#prodId').val();
            $.getJSON(uri + '/' + id)
            .done(function (data) {
            $('#product').text(formatItem(data));
            })
            .fail(function (jqXHR, textStatus, err) {
            $('#product').text('Error: ' + err);
            });
            }
        </script>*@
    </div>

</div>


@*<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@